@header_bgc: rgba(255, 0, 0, 0.2);
@loop_bgc: rgba(0, 255, 0, 0.2);
@footer_bgc: rgba(0, 0, 255, 0.2);

.border(@r, @g, @b, @lineStyle: solid) {
	border: 1px @lineStyle rgba(@r, @g, @b, 0.1);
	box-shadow: 0 2px 4px -2px rgba(@r, @g, @b, 0.3);
}

.tile {
	.border(0, 0, 0);
	border-radius: 4px;
}

header, #loop, footer {
	.tile;
	padding: 4px;
}
header {
	background-color: @header_bgc;
}
#loop {
	background-color: @loop_bgc;
}
footer {
	background-color: @footer_bgc;
}
article {
	.border(255, 0, 0, dashed);
}
