@import '../libs/bootstrap/css/bootstrap.min.css';
.tile {
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 4px;
    box-shadow: 0 2px 4px -2px rgba(0,0,0,0.3);
}
header, #loop, footer {
    .tile;
}
